# ================================================================================
# Specify tasks to be performed by python script.Group tasks. 
#
# Group attributes: 
#    name: <group-name>
#    parallelism: 1
#    skip: false
#    repeat: 1
#
# Task attributges:     
#    id: <task-name>
#    sql: "REFRESH MATERIALIZED VIEW CONCURRENTLY mv_sales;"
#    sql_file
#    depends_on: [task1, task2]
#    retries: 3
#    retry_delay_sec: 5
#    statement_timeout_sec: 600
#    timeout: 
#    on_failure: continue

# ================================================================================
database:
  dsn: "host=c-raodb port=5432 dbname=postgres user=postgres password=postgres"

execution:
  dry_run: false   # true = no SQL execution
  default_on_failure: abort  # skip | continue | abort

defaults:
  retries: 1
  retry_delay_sec: 5
  statement_timeout_sec: 300
  repeat: 1
  skip: false

groups:
# ----------------------------------------
  - name: create_proc_func

    tasks:
      - id: create_proc
        sql_file: "scripts/job1/p.sql"

      - id: create_func
        sql_file: "scripts/job1/f.sql"

# ----------------------------------------
  - name: call_proc_func
    repeat: 1000

    tasks:
      - id: call_proc
        sql_file: "scripts/job1/call_proc.sql"

      - id: call_func
        sql_file: "scripts/job1/call_func.sql"

# ----------------------------------------
