# ================================================================================
# Specify tasks to be performed by python script.Group tasks. 
#
# Group attributes: 
#    name: <group-name>
#    parallelism: 1
#    skip: false
#    repeat: 1
#
# Task attributges:     
#    id: <task-name>
#    sql: "REFRESH MATERIALIZED VIEW CONCURRENTLY mv_sales;"
#    sql_file
#    depends_on: [task1, task2]
#    retries: 3
#    retry_delay_sec: 5
#    statement_timeout_sec: 600
#    timeout: 
#    on_failure: continue

# ================================================================================
database:
  dsn: "host=c-postgres port=5432 dbname=postgres user=postgres password=postgres"

execution:
  dry_run: false   # true = no SQL execution
  default_on_failure: abort  # skip | continue | abort

defaults:
  retries: 1
  retry_delay_sec: 5
  statement_timeout_sec: 300
  repeat: 1
  skip: false

groups:
# ----------------------------------------
  - name: cleanup

    tasks:
      - id: drop_tables
        sql_file: "scripts/job1/d.sql"

# ----------------------------------------
  - name: create

    tasks:
      - id: create_tables
        sql_file: "scripts/job1/c.sql"

# ----------------------------------------
  - name: insert_analyze_truncate
    repeat: 5

    tasks:
      - id: insert_tables
        sql_file: "scripts/job1/i.sql"

      - id: analyze_tables
        sql_file: "scripts/job1/a.sql"

      - id: truncate_tables
        sql_file: "scripts/job1/t.sql"

# ----------------------------------------
  - name: insert

    tasks:
      - id: insert_tables
        sql_file: "scripts/job1/i.sql"

# ----------------------------------------
  - name: analyze

    tasks:
      - id: analyze_tables
        sql_file: "scripts/job1/a.sql"

# ----------------------------------------
  - name: count

    tasks:
      - id: count_rows
        sql_file: "scripts/job1/s.sql"

# ----------------------------------------
