# ================================================================================
# Specify tasks to be performed by python script.Group tasks. 
#
# Group attributes: 
#    name: <group-name>
#    parallelism: 1
#    skip: false
#    repeat: 1
#
# Task attributges:     
#    id: <task-name>
#    sql: "REFRESH MATERIALIZED VIEW CONCURRENTLY mv_sales;"
#    sql_file
#    depends_on: [task1, task2]
#    retries: 3
#    retry_delay_sec: 5
#    statement_timeout_sec: 600
#    timeout: 
#    on_failure: continue

# ================================================================================
database:
  dsn: "host=c-postgres port=5432 dbname=postgres user=postgres password=postgres"

execution:
  dry_run: false   # true = no SQL execution
  default_on_failure: abort  # skip | continue | abort

defaults:
  retries: 2
  retry_delay_sec: 5
  statement_timeout_sec: 300

groups:
# ----------------------------------------
  - name: recreate_tables
    parallelism: 1

    tasks:
      - id: recreate_customers_table
        sql_file: "sql/customers.tbl"

      - id: recreate_products_table
        sql_file: "sql/products.tbl"

      - id: recreate_orders_table
        sql_file: "sql/orders.tbl"

      - id: recreate_order_items_table
        sql_file: "sql/order_items.tbl"

# ----------------------------------------
  - name: count_before_load
    parallelism: 1

    tasks:
      - id: count_customers
        sql: "select count(1) from customers;"

      - id: count_products
        sql: "select count(1) from products;"

      - id: count_orders
        sql: "select count(1) from orders;"

      - id: count_order_items
        sql: "select count(1) from order_items;"

# ----------------------------------------
  - name: load_data
    parallelism: 1
    skip: false

    tasks:
      - id: load_customers
        sql_file: "sql/customers.ins"

      - id: load_products
        sql_file: "sql/products.ins"

      - id: load_orders
        sql_file: "sql/orders.ins"

      - id: load_order_items
        sql_file: "sql/order_items.ins"

# ----------------------------------------
  - name: create_indexes
    parallelism: 1

    tasks:
      - id: index_customers
        sql_file: "sql/customers.idx"

      - id: index_products
        sql_file: "sql/products.idx"

      - id: index_orders
        sql_file: "sql/orders.idx"

      - id: index_order_items
        sql_file: "sql/order_items.idx"

# ----------------------------------------
  - name: g3_analyze
    parallelism: 1

    tasks:
      - id: analyze_customers
        sql: "analyze customers;"

      - id: analyze_products
        sql: "analyze products;"

      - id: analyze_orders
        sql: "analyze orders;"

      - id: analyze_order_items
        sql: "analyze order_items;"

# ----------------------------------------
  - name: count_after_load
    parallelism: 1

    tasks:
      - id: count_customers
        sql: "select count(1) from customers;"

      - id: count_products
        sql: "select count(1) from products;"

      - id: count_orders
        sql: "select count(1) from orders;"

      - id: count_order_items
        sql: "select count(1) from order_items;"

# ----------------------------------------
  - name: run_queries
    parallelism: 1
    repeat: 5

    tasks:
      - id: query1
        sql_file: "sql/q1.sql"

      - id: query2
        sql_file: "sql/q2.sql"

      - id: query3
        sql_file: "sql/q3.sql"

      - id: query4
        sql_file: "sql/q4.sql"

      - id: query5
        sql_file: "sql/q5.sql"

