server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: orders
          uri: http://c-orders:8081
          predicates:
            - Path=/orders/**
          filters:
            - StripPrefix=1

        - id: payments
          uri: http://c-payments:8082
          predicates:
            - Path=/payments/**
          filters:
            - StripPrefix=1

        - id: reports
          uri: http://c-reports:8083
          predicates:
            - Path=/reports/**
          filters:
            - StripPrefix=1

