<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add/Edit Employee</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h2>Employee Form</h2>
<form th:action="@{/employees}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Name:</label>
    <input type="text" th:field="*{name}" /><br/>
    <label>Salary:</label>
    <input type="text" th:field="*{salary}" /><br/>
    <button type="submit">Save</button>
</form>
<a th:href="@{/employees}">Back to List</a>
</body>
</html>

