<configuration>
  <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="monitor"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>{"ts":"%d{HH:mm:ss}","app":"${appName}","msg":%msg}%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>

