global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'microservices'
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'csv-producer:8080'
          - 'csv-consumer:8081'
          - 'csv-monitor:8082'

